{% extends 'baseReg.html' %}

{% block css %}
<script type = "text/javascript" >
function changeHashOnLoad() {
     window.location.href += "#";
     setTimeout("changeHashAgain()", "50");
}

function changeHashAgain() {
  window.location.href += "1";
}

var storedHash = window.location.hash;
window.setInterval(function () {
    if (window.location.hash != storedHash) {
         window.location.hash = storedHash;
    }
}, 50);

</script>
{% endblock %}

{% block content %}
<body onload="changeHashOnLoad(); ">

<div class="container">
    <h1>Спасибо за работу. Если хотите вернутся то <a href="/" class="text-info">Авторизуйтесь</a> заново</h1>
</div>
{% endblock %}
