 <div class="col-md-12 column">
    {% if not posts %}
            <h3>К сожалению такого работника у нас нет.</h3>
    {% else %}
        <table class="table">
                 <thead>
                 <tr>
                     <th>Фамилия Имя Отчество</th>
                     <th>Специальность</th>
                     <th>План на месяц</th>
                     <th>Результат по факту за месяц </th>
                     <th>План по времени на месяц</th>
                     <th>Результат времени по факту</th>
                     <th>Количество брака</th>
                     <th>Цех работы</th>
                 </tr>
                 </thead>
            {% for post in posts %}
                 <tbody>
                    <tr>
                        <td>{{ post.text }}</td>
                        <td>{{ post.specialty }}</td>
                        <td>{{ post.plan }}</td>
                        <td>{{ post.plan_rez }}</td>
                        <td>{{ post.plan_clock }}</td>
                        <td>{{ post.plan_clock_rez }}</td>
                        <td>{{ post.plan_defect }}</td>
                        <td>{{ post.user.first_name }}</td>
                     </tr>
                 </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
<!--
<div class="col-md-12 column">
        {% for post in posts %}
            <div class="well">
                <h6> ФИО : {{ post.text }}
                    || Специальность : {{ post.specialty }}
                    || План на месяц : {{ post.plan }}
                    || План по факту за месяц : {{ post.plan_rez }}
                </h6>
            <p></p>
            <p>
                <i class="icon-user"></i><a href="/user/{{ post.user }}">{{ post.user }}</a>
               | {{ post.created_date | date:"d/m/Y" }}
               | <a href="#"><i class="glyphicon glyphicon-comment"></i> Comments</a>
               | <a href="#"><i class="glyphicon glyphicon-share-alt"></i> Shares</a>
                {% if post.hashtag_set.all|length > 0 %}
               | <i class="icon-tags"></i> Tags:
                {% for hashtag in post.hashtag_set.all %}
                 <a href="#"><span class="label label-info">{{ hashtag }}</span> </a>
                {% endfor %}
                {% endif %}
            </p>
            </div>
        {%endfor %}

        {% if not posts %}
            <h3>К сожалению такого работника у нас нет.</h3>
        {% endif %}

</div>


--!>
