 <div class="col-md-12 column">
    {% if not posts %}
            <h3>К сожалению такого работника у нас нет.</h3>
    {% else %}
        <table class="table">
                 <thead>
                 <tr>
                     <th>Фамилия Имя Отчество</th>
                     <th>Специальность</th>
                     <th>План на месяц</th>
                     <th>Результат по факту за месяц </th>
                     <th>План по времени на месяц</th>
                     <th>Результат времени по факту</th>
                     <th>Количество брака</th>
                     <th>Цех работы</th>
                 </tr>
                 </thead>
            {% for post in posts %}
                 <tbody>
                    <tr>
                        <td>{{ post.text }}</td>
                        <td>{{ post.specialty }}</td>
                        <td>{{ post.plan }}</td>
                        <td>{{ post.plan_rez }}</td>
                        <td>{{ post.plan_clock }}</td>
                        <td>{{ post.plan_clock_rez }}</td>
                        <td>{{ post.plan_defect }}</td>
                        <td>{{ post.user.first_name }}</td>
                     </tr>
                 </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
